.card-list{
    background: transparent;
    border-radius: 25px;
    margin-top: 100px;
    width: 100vw;
    border: none;
    
    
}

.categories-head{
    z-index: 1;
    border: none;
    border-color: aliceblue;
    padding-top: 50px;    
}

.furcategories{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 50px;    
    
 
}
.card-item{
 display: flex;
 flex-direction: row;
 overflow: hidden;
 height: 250px;
 border-radius: 20px;
 transition: transform 0.5s ;
 margin: 10px;

}

.card-item:hover{
    transform: scale(105%);
}

.card-item img{
    height: 250px;
}


.card-text{
    max-width: 150px;
    
}

.img-style{
    transition: transform 0.5s ;
}
.img-style:hover{
    transform: scale(105%);
}
.text-control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-list{
    transition: transform 0.5s ;
}
.btn-list:hover{
    transform: scale(105%);
}