/* NavBar */
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
  }
  
  .navbar-show {
    top: 0;
  }
  
  .navbar-hide {
    top: -60px;
  }
  
  .nav-icon {
    left: 50px;
    top: 15px;
    position: fixed;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.3s;
    font-weight: bolder;
    font-size: larger;
  }
  
  .nav-icon img {
    width: 100px;
    height: 40px;
    border-radius: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  @media (max-width : 1200){
    .navbar-menu{
      
    }
  }
  .navbar-link {
    width: 50px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.5s;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .log-btn{
    border: none;
    width: 100px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.5s;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px;
  }
  .cart-link {
    border: none;
    width: 60px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.5s;
    text-decoration: none;
    margin: 0 5px;
    padding: 10px;
    
  }
  
  
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 250px;
    border-color: #87acba1f;
    border: none;
  }
  
  .search-bar input {
    height: 34px;
    width: 150px;
    border: none;
    border-color:  rgb(84,98,102);
    border-radius: 15px;
    background-color: #87acba1f;
  
  }
  
  .searchBtn{
    position: absolute;
    margin-left: 100px;
    border: none;
  }
  
  
  .icon {
    font-size: 20px;
  }
  
  .totaldiv {
    position: absolute;
    top: -7px;
    height: 34px;
    margin-left: 20px;
    padding: 0 5px;
  }
  
  .Category {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  
  .Catogarylink {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .text {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.5s;
    margin: 2px;
    padding: 0 10px;
  }
  
  .navbar-link:hover,
  .log-btn:hover,
  .cart-link:hover,
  .nav-icon:hover,
  .search-bar input:hover,
  .Catogarylink .text:hover {
    background-color: #1ba8c41b;
    border: 1px solid rgb(84,98,102);
    transform: scale(1.1);
    box-shadow: 5px 3px 5px rgb(163, 159, 159);
  }
  
  .car-log {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    top: 15px;
    right: 100px;
    position: fixed;
  
  }
  
  /* End NavBar */
  
  /* Footer */

  footer {
    position: sticky;
    bottom: -5;
    background: #eceeef;
   
   .text-footer{
    display: flex;
    justify-content: center;
   } 
  
  }
  .text-footer-list{
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.5s;
   font-weight: bold;
   border: none;
  
  }
  
  .icon-footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.5s;
   font-weight: bold;
   border: none;
  }
  
  .icon-footer-list:hover,
  .text-footer-list:hover{
    background-color: #1ba8c41b;
    border: 1px solid rgb(84,98,102);
    transform: scale(1.1);
    box-shadow: 5px 3px 5px rgb(163, 159, 159);
  }
  
  /* End Footer  */



.menu-toggle-hide{
  visibility: hidden;
}

@media (max-width : 1200px){

  .navbar {
    max-width: 1200px;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
  }

  .navbar-menu{
    visibility: hidden;
  }

  .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 220px;
    border-color: #87acba1f;
    border: none;
  }

  .menu-toggle-hide{
    visibility: visible;
  }

  .off-canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: transform 0.3s ease;
  }
  
  .off-canvas-menu {
    position: absolute;
    top: 50px;
    left: 250px; 
    width: 250px;
    height: auto;
    background-color: #3d3d3d34;
    color: #f0e9e9;
    transition: left 0.3s ease;
  }
  
  .off-canvas-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #3d3d3df1;
    display: block;
    transition: background 0.3s;
  }
  
  .off-canvas-menu a:hover {
    background-color: #575757;
    color: white;
  }
  
  /* Toggle button */
  .menu-toggle {
    position: fixed;
    top: 13px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; 
  }
  
  /* When the menu is open */
  .menu-open {
    display: none; 
  }
}

@media (max-width: 576px) {
  .navbar{
    width: 100%;
  }
  .nav-icon{
    /* display: none; */
    left: 0px;
    top: 15px;
    position: fixed;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84,98,102);
    background-color: #87acba1f;
    border-radius: 15px;
    transition: transform 0.3s;
    font-weight: bolder;
    font-size: larger;
  }
  .user-login{
    display: none;
  }
  .menu-toggle {
    position: fixed;
    top: 13px;
    right: 80px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; 
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 220px;
    border-color: #87acba1f;
    border: none;
  }
  
  .search-bar input {
    height: 34px;
    width: 100px;
    border: none;
    border-color:  rgb(84,98,102);
    border-radius: 15px;
    background-color: #87acba1f;
  
  }
  
  .searchBtn{
    position: absolute;
    margin-left: 100px;
    border: none;
  }
  
  
  .icon {
    font-size: 20px;
  }

}
/* .menu-open .off-canvas-menu {
  left: 0; 
} */

  