.navbar-admin {
    width: 100px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 

  }
  
  
  .nav-hover{
    border: none;
    border-radius: 25px;
    background-color: lightseagreen;
    width: 100px;
    transition: width 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .nav-hover:hover{
    
    border-radius: 25px;
    width: 150px;
  }