.navbar-admin {
    width: 100px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 

  }
  
  
  .nav-hover{
    border: none;
    border-radius: 15px;
    background-color: #87acba1f;
    width: 50px;
    transition: width 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  
  }
  .nav-hover:hover{
    border-radius: 15px;
    width: 80px;
  }


