.payment-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-card {
    background-color: rgb(84,98,102);
    color: #e9eff0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .payment-title {
    font-size: 1.5em;
    /* color: #00d9ff; */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-method {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .payment-method label {
    /* color: #00d9ff; */
    cursor: pointer;
  }
  
  .payment-method input {
    margin-right: 10px;
  }
  
  .card-details {
    background-color: transparent;
    padding-top: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .card-details .form-group {
    margin-bottom: 15px;
        width: 300px;
        margin: 0px 0 10px 10px;
  }
  
  .card-details .form-group label {
    display: block;
    color: #f4f5f5;
    margin-bottom: 5px;
  }
  
  .card-details .form-group input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color:  rgb(84,98,102);
    border: 1px solid #e0e6ea;
    border-radius: 5px;
  }
  
  /* .card-details .form-group input::placeholder {
    color: #00d9ff;
  }
   */
.pay{
  display: flex;
  justify-content: flex-end;
}

  .finish-pay-btn {
    width: 150px;
    padding: 15px;
    background-color: #d2e0e2ca;
    border: none;
    border-radius: 5px;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
  }
  
  .finish-pay-btn:hover {
    background-color: #00b3cc;
  }
  