/* Registration */

.registration {
  width: 100vw;
  min-height: 100%;
  margin-top: 100px;
  background: #dddada;
}

.form-group {
  width: 80%;
  margin: 10px auto;
}

.registration .cardSize {
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  overflow: hidden;
  border: none;
  box-shadow: 15px -10px 10px rgb(163, 159, 159);
  border-radius: 15px;
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcC00NjQtdGQtMDE3MC0wNF8xLmpwZw.jpg");
}

.cardSize::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.cardSize .card-body {
  position: relative;
  z-index: 2;
}

.registration .text-outline {
  text-shadow: 15px 10px 5px #6c6969, 2px 3px 5px #908d8d, -1px 0px 0px #9c8f8f,
    1px 10px 20px #d5cfcf;
  color: rgb(246, 238, 238);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .registration .cardSize {
    margin-top: 20px;
    padding: 20px;
  }

  .registration .form-group {
    width: 100%;
    margin: 10px 0;
  }

  .registration .card-body {
    padding: 10px;
  }
}


/* End Registration */

/* Login */

.login {
  width: 100vw;
  height: 100vh;
  background: #fbf9f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
}

.login .cardSize {
  padding: 50px; 
  border: none;
  border-radius: 15px;
  box-shadow: 15px -10px 10px rgb(163, 159, 159);
  background-image: url("https://t4.ftcdn.net/jpg/05/65/75/59/360_F_565755935_GLp4UQXwqgB4wYBGorgOVWm6NqU1taTE.jpg");
}

.login .text-outline {
  text-shadow: 7px 10px 5px #f2ececa6, 1px 0px 0px #ece4e4ad,
    -1px 0px 0px #e7e1e1, 1px 10px 20px #d5cfcf;
  color: rgb(15, 12, 12);
}

.login .btn-navy {
  background-color: #d7dde3ab;
  border-color: #061525;
  color: #045882;
  border-radius: 10px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .login .cardSize {
    padding: 30px; 
    margin-top: 100px; 
  }

  .login .form-group input {
    padding: 10px; 
    font-size: 16px; 
  }

  .login .btn-navy {
    padding: 10px; 
    font-size: 16px; 
  }

  .login .text-outline {
    font-size: 24px; 
    text-shadow: 4px 6px 3px #f2ececa6, 0px 0px 0px #ece4e4ad,
      -1px 0px 0px #e7e1e1, 1px 5px 10px #d5cfcf;
  }
}

@media (max-width: 576px) {
  .login .cardSize {
    padding: 20px; 
    margin-top: 50px; 
  }

  .login .text-outline {
    font-size: 20px; 
  }

  .login .btn-navy {
    padding: 8px; 
    font-size: 14px; 
  }
}
