
.login, .registration {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #d9e4f5 0%, #f7f7f7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif; 
}


.login .cardSize, .registration .cardSize {
  padding: 40px 60px; 
  border: none;
  border-radius: 25px;
  background: #fff;
  width: 100%;
  max-width: 800px; 
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  font-family: 'Roboto', sans-serif; 
}


.login .cardSize:hover, .registration .cardSize:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
}


.login .text-outline, .registration .text-outline {
  font-size: 28px;
  font-weight: 700;
  text-shadow: 10px 5px 16px rgba(0, 0, 0, 0.1);
  color: #285989;
  margin-bottom: 30px;
  margin-right: 20px;
  text-align: center;
  animation: textSlideIn 0.8s ease-out;
  font-family: 'Poppins', sans-serif; 
}


.login .form-group, .registration .form-group {
  margin-bottom: 20px;
}

.login .form-control, .registration .form-control {
  border-radius: 12px;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ced4da;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
}


.login .btn-navy, .registration .btn-navy {
  background-color: #285989;
  border: none;
  color: #ffffff;
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Poppins', sans-serif; 
}

.login .btn-navy:hover, .registration .btn-navy:hover {
  background-color: #285989;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .login .cardSize, .registration .cardSize {
    padding: 35px 40px; 
    max-width: 90%;
  }

  .login .text-outline, .registration .text-outline {
    font-size: 24px;
  }

  .login .form-control, .registration .form-control {
    padding: 12px;
    font-size: 14px;
  }

  .login .btn-navy, .registration .btn-navy {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .login .cardSize, .registration .cardSize {
    padding: 30px 25px; 
    max-width: 100%;
  }

  .login .text-outline, .registration .text-outline {
    font-size: 20px;
  }

  .login .btn-navy, .registration .btn-navy {
    padding: 10px;
    font-size: 14px;
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSlideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes inputFocus {
  from {
    border-color: #ced4da;
  }
  to {
    border-color: #007bff;
  }
}


