body{
  font-family: Arial, sans-serif;
  background: rgba(128, 128, 128, 0.568);
  margin: 0;
  padding: 0;
}


/* NavBar */

.home {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  height: 1450px;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s;
  display: flex;
  justify-content: flex-end;
}

.navbar-show {
  top: 0;
}

.navbar-hide {
  top: -60px; 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-link{
  border: 1px solid;
  width: 50px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ba8c4c7;
  background-color: #87acba1f;
  border-radius: 15px;
}

.log-btn{
  border: 1px solid;
  width: 50px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ba8c4c7;
  background-color: #87acba1f;
  border-radius: 15px;
}

.cart-link{
  border: 1px solid;
  width: 50px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ba8c4c7;
  background-color: #87acba1f;
  border-radius: 15px;
}

.navbar-link,
.cart-link,
.log-btn {
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.navbar-link:hover,
.cart-link:hover,
.log-btn:hover {
  color: #2e9d9d;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  height: 34px;
  width: 150px;
  border: 1px solid #1ba8c4c7;
  border-radius: 15px 0 0 15px;
}

.btn1 {
  border: 1px solid;
  width: 60px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ba8c4c7;
  background-color: #87acba1f;
  border-radius: 0 15px 15px 0;
}

.btn2{
  border: 1px solid;
  width: 50px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ba8c4c7;
  background-color: #87acba1f;
  border-radius: 15px;
}

.btn1:hover, .btn2:hover {
  color: #0084b4;
}

.icon {
  font-size: 20px;
}

.totaldiv {
  position: absolute;
  top: 5px;
  right: 100px;
  height: 34px;
  padding: 2px 2px;
}

.Category {
  margin-top: 35px; 
  font-size: 10px;
  
}

.Catogarylink{
  border: #00aced;
  display: flex;
    
}

.text{
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ba8c41b;
  border-radius: 15px;
  border:1px solid #1ba8c4f3;
  transition: transform 0.5s ;
}


.Catogarylink .text:hover {
  background-color: #1ba8c41b;
  border:1px solid #1ba8c4f3;
  transform: scale(110%);
}





/* Home */

.home-img {
  width: 100vw;
  height: 100vh;
}



/* 
.container {
  margin-top: 100px;
} */

.card-container{
  border: none;
  border-radius: 15px;
  background-color: #c9c5c567;
}

.category-image{
  width: 200px;
  height: 200px;
  transition: transform 0.5s ;

}
.category-image:hover{
  transform: scale(105%);

}



/* End Home */


