/* Home */

.category {
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
 
  
  
  .card-container {
    border: none;
    background: rgba(255, 254, 254, 0.626);
    /* box-shadow: 0px 0px 5px black; */
  
  }
  
  .category-image {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px black;
    transition: transform 0.5s;
  }
  .category-image:hover {
    transform: scale(105%);
    box-shadow: 10px 5px 5px rgb(163, 159, 159);
  }
  
  /* End Home */
  

  /* Search */

  .container {
    padding: 20px;
    margin: 0 auto;
  }
  
  .pt-5 {
    padding-top: 3rem;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  
  .search {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    margin-top: 50px;    
    border: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: white;
  }
  
  .card-search{
    width: 500px;
  }